<h1> <%= @song.name %></h1>

<h2> <%= link_to "#{@song.artist.name}", artist_path(@song.artist) %> </h2>

<%= render partial: 'shared/playlist_drop_down', :locals => { :song => @song } %>

<%= render partial: 'shared/bookmark', :locals => { :song => @song } %>





